@import "../../library.scss";

.sidebar {
  width: 30%;
  max-width: 240px;
  height: 100vh;
  background-color: $secondary;
  flex: 0.3;

  hr {
    border: 1px $border solid;
  }
  .sidebar_header {
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 1px $border solid;
    border-bottom: 1px $border solid;
    padding: 1rem;
    &:hover {
      background-color: $primary;
      transition: 0.1s ease-in-out;
    }
    h3 {
      font-size: medium;
      display: flex;
      align-items: center;
    }
    & > .MuiSvgIcon-root {
      color: $secondary;
      display: inline-block;
      background-color: #fff;
      border-radius: 50%;
      font-size: 2rem;
      padding: 5px;
      // padding: 1rem;
    }
  }
}
